.selectContainer {
  position: relative;
  width: 100%;
}

.inputWrapper {
  align-items: center;
  position: relative;
  display: flex;
}

.loader {
  position: absolute;
  right: 10px;
  z-index: 5;
}

.clearBtn {
  position: absolute;
  font-size: 0.65rem;
  right: 10px;
  z-index: 5;
}

.optionsMenu {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border: 1px solid #dee2e6;
  background: white;
  position: absolute;
  max-height: 145px;
  overflow-y: auto;
  border-top: none;
  z-index: 1000;
  top: 100%;
  right: 0;
  left: 0;
}

.optionsMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.optionsMenu ul li {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}

.optionsMenu ul li:hover {
  background: #f0f0f0;
}
