.postImageContainer {
  position: relative;
}

.postImageContainer label,
.postImageContainer button {
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
  background-color: #0d6efd;
  border-radius: 4px;
  position: absolute;
  visibility: hidden;
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  opacity: 0;
  left: 50%;
  top: 50%;
}

.postImageContainer:hover label,
.postImageContainer:hover button {
  visibility: visible;
  opacity: 1;
}

.postImage {
  border-radius: 0.375rem;
  width: 100%;
}
