.cardImage {
  position: relative;
}

.cardImage img {
  height: 200px;
}

.cardImage span {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.clampText {
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
}

.clampTitle1Line {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.clampDescription3Lines {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
