.userProfilePhotoContainer {
  position: relative;
}

.userProfilePhotoContainer label,
.userProfilePhotoContainer button {
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
  background-color: #0d6efd;
  border-radius: 4px;
  position: absolute;
  visibility: hidden;
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  opacity: 0;
  left: 50%;
  top: 50%;
}

.userProfilePhotoContainer:hover label,
.userProfilePhotoContainer:hover button {
  visibility: visible;
  opacity: 1;
}

.userProfilePhoto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.userInfoList {
  flex-direction: column;
  list-style: none;
  display: flex;
  row-gap: 10px;
  padding: 0;
  margin: 0;
  flex: 1;
}
